@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(247, 235, 226);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
    align-items: center;
    
}


.container {
 
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: rgb(247, 235, 226);
}

.form-image {
    grid-column: 1;
    grid-row: 1;
    background-color: #fde3a7d7;
    position: fixed;
}

.form h1{
    text-align: center;
    margin-bottom: 50px;
}

.form {
    width: 50%;
    height: 100%;
    align-items: center;
    padding: 3rem;
    background-color: rgb(247, 235, 226);
    position: relative;
    left: 400px;

}

#eyeIcon1{
    cursor: pointer;
    width: 20px;
    position: relative;
    bottom: 50px;
    left: 210px;
    font-size: 20px;

}

#eyeIcon2{
    cursor: pointer;
    width: 20px;
    position: relative;
    bottom: 50px;
    left: 210px;
    font-size: 20px;

}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #6b63fff1;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

#bairros{
    margin: 0.6rem 0;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    font-size: 0.8rem;
    width: 250px;
    position:relative;
    top: 22px;
    border: 2px solid ;
    border-color: #b6b6b6c0;
    box-shadow: 1px 1px 6px #0000001c;

}

#bairros:focus{
border-color: rgb(255, 185, 128);
}

.input-box input:focus,
.input-box select:focus {
    outline: none;
}

.input-box span{
    color: rgb(255, 0, 0);
    font-size: 15px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 1rem 0;
    position: relative;
    top: -40px;

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}


.input-box input {
    background-color: #ffff;
    margin: 0.6rem 0;
    padding: 20px;
    width: 250px;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    border: 2px solid ;
    border-color: #b6b6b6c0;

}

.input-box input:focus {
    border-color: rgb(255, 185, 128);
    
}


.input-box label,
.gender-title h6 {
    font-size: 15px;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}



.continue-button button {
    width: 70%;
    margin-top: 0.5rem;
    border: none;
    background-color:#ff6600;
    padding: 0.70rem;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    bottom: 30px;
    
}

.continue-button button:hover {
    background-color:rgb(255, 185, 128);
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }
    .form {
        width: 100%;
        left: 0;
    }
    .form-image {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .form {
        margin-top: 20px;
    }
}