.com{
  font-weight: bold;
  font-size:  1.5rem;
  text-align: center;
  margin: 20px 0;
}

.forme{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#area{
  background-color: rgb(154, 154, 154);
  display: flex;
  justify-content: center;
  width: 300px;
  height: 220px;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  object-fit:cover ;
  margin:20px auto;
}
#input{
display: none;
}
.area i{
  margin: 10px;
}
.App input{
  display: flex;
  width: 300px;
  height: 50px;
  margin-bottom: 30px;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 14px;
  padding: 0 10px;
}

.App label{
font-weight: bolder;
}
.categorias select{
  border-radius: 14px;
  padding: 5px 10px;
  border: 2px solid rgb(100, 100, 100);
}
.descricao textarea{
  width: 300px;
  height: 200px;
  display: flex;
  margin-bottom: 30px;
  border-radius: 14px;
  padding: 10px 20px;
  border: 2px solid rgb(100, 100, 100);
  
}
.categorias{
  margin-bottom: 30px;
  border: 1px solid;
  border-color: rgb(100, 100, 100);
}
.forme div{
  text-align: start;
}
select {
  height: 50px;
  width: 300px;
}

.dates{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dates input{
  width: 150px;
}
.dates{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.dates input{
width: 110px;
margin-bottom:10px;
}
.dates p{
  font-weight: bold;
}
.Faixa input{
  width: 200px ;
  font-weight: bold;
  margin: 0 auto;
}
.Faixa{
  margin:30px ;
}

.botao{
  width: 300px;
  height: 40px;
  color: aliceblue;
  background-color: rgb(255, 119, 1);
  border: none;
  border-radius: 24px;
  margin: 10px 0 50px 0;
  cursor: pointer;
  font-size: 1rem;
}
.forme div input{
  width: 80vw;
}
.dates .data input{
  width: 80vw;
  text-align: center;
}
  
.entes .orga input{
  width: 80vw;
}

@media(min-width: 1024px){
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 235, 226);
  }
  .App{
    width: 800px;
    height: 500px;
  }
  .com{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  }
  .forme{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */  
  }
  .forme div{
    text-align: start;
  }
  #area{
    background-color: rgb(176, 176, 176);
    display: flex;
    justify-content: center;
    width:100% ;
    height: 400px;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    object-fit:cover ;
  }
  #input{
  display: none;
  }
  .area i{
    margin: 10px;
  }
  .App input{
    display: flex;
    width: 800px;
    height: 50px;
    margin-bottom: 30px;
  }
  .dates{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .dates input{
  width: 200px;
  }
  .dates p{
    font-weight: bold;
    
  }
  .App label{
  font-weight: bolder;
  }
  .descricao textarea{
    width: 800px;
    height: 300px;
    display: flex;
    margin-bottom: 30px;
  }
  .categorias{
    margin-bottom: 30px;
  }
  select {
    height: 50px;
    width: 800px;
  }
  .dates{
    display: flex;
    gap: 12%;
  }
  .Faixa input{
    width: 160px ;
    padding-left: 70px;
    font-weight: bold;
  }
  .entes{
    display: flex;
    justify-content: center;
    gap: 30%;
  }
  .entes input{
    width: 400px;
  }
  .botao{
    width: 500px;
    height: 50px;
    color: aliceblue;
    background-color: rgb(255, 115, 0);
    cursor: pointer;
  }
  .botao:hover{
    background-color: rgb(235, 136, 56);
  }
  .forme div input{
    width: 58vw;
  }
  .dates .data input{
    width: 22vw;
  }
    
  .entes .orga input{
    width: 22vw;
  }
}
